*, *::before, *::after{
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

.site-wide-alert {
    margin-bottom: 0;
    text-align: center;
}

.hero-img {
    background: url('../image/istockphoto-977601820-170667a.jpg') no-repeat bottom center;
    background-size: cover;
    height: 75vh;
    overflow: hidden;
    
}
